<header>Soft Drink Can Vending Machine</header>
<div class="info-panel-container">
  <nz-statistic
    [nzValue]="softDrinkCount$ | async"
    [nzTitle]="'Soft Drink in Stock'"
  ></nz-statistic>
  <nz-statistic
    [nzValue]="softDrinkPrice$ | async"
    [nzTitle]="'Price'"
  ></nz-statistic>
</div>
