header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.info-panel-container {
  display: flex;
  margin: 0 20%;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #e6e6e6;
}
