@import 'variables';

.resupply-container {
  justify-content: center;
  display: flex;
  margin: 20px 20%;
  background-color: $primary-color;
  padding: 20px;

  ::ng-deep nz-form-label label {
    width: $form-label-width;
  }

  ::ng-deep nz-form-control {
    width: $form-control-width;
  }

  .button-panel {
    justify-content: space-between;
    display: flex;
  }
}
