<div class="resupply-container">
  <form [formGroup]="resupplyForm" nz-form>
    <nz-form-item>
      <nz-form-label nzFor="resupplyCount">Resupply Count</nz-form-label>
      <nz-form-control nzErrorTip="Enter a integer number.">
        <nz-input-number
          formControlName="resupplyCount"
          [nzMin]="1"
          [nzStep]="1"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <div class="button-panel">
      <button nz-button nzType="primary" (click)="navigateToHome()">Cancle</button>
      <button nz-button nzType="primary" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
