<div class="action-panel-container">
  <button nz-button nzType="primary" (click)="navigateTo(homePagePath.Purchase)">Purchase</button>
  <button nz-button nzType="primary" (click)="navigateTo(homePagePath.Resupply)">Resupply</button>
</div>
