<div class="purchase-container">
  <form [formGroup]="purchaseForm" nz-form>
    <nz-form-item>
      <nz-form-label nzFor="canCount">Count</nz-form-label>
      <nz-form-control nzErrorTip="Enter a integer number.">
        <nz-input-number
          formControlName="canCount"
          [nzMin]="1"
          [nzStep]="1"
        ></nz-input-number>
        {{'(Total Price: ' + (softDrinkPrice$ | async) * purchaseForm.get(purchaseMap.canCount)
          .value + ')'}}
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="money">Cash</nz-form-label>
      <nz-form-control nzErrorTip="Enter a valid number.">
        <nz-input-number formControlName="money" [nzMin]="1"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <div class="button-panel">
      <button nz-button nzType="primary" (click)="navigateToHome()">Cancle</button>
      <button nz-button nzType="primary" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
